/* CSS para os botões da página VolunCenter */

.logo_button {
  font-size: 30px;
  color: #6fe069;
}

.buttons_voluncenter {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.volunteer-button-2, .christmas-card-button_new {
  width: 170px; /* Define a largura fixa */
  height: 50px;
  background-color: #6fe069; /* Verde similar ao da imagem */
  color: #fff; /* Texto branco */
  font-size: 18px; /* Tamanho do texto */
  font-weight: bold; /* Negrito para o texto */
  padding: 10px 10px; /* Espaçamento interno */
  border: 3px; /* Remover bordas padrão */
  border-radius: 20px; /* Bordas arredondadas */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
  transition: transform 0.2s, background-color 0.2s; /* Animação para hover */
}

.volunteer-button-2:hover, .christmas-card-button_new:hover {
  background-color: #218838; /* Cor mais escura ao passar o mouse */
  transform: scale(1.05); /* Aumenta ligeiramente o botão */
}

.volunteer-button-2:active, .christmas-card-button_new:active {
  background-color: #1e7e34; /* Cor ainda mais escura ao clicar */
  transform: scale(0.95); /* Reduz ligeiramente ao clicar */
}

.image {
  display: block;
  margin: 0 auto;
  max-width: 150px; /* Ajusta o tamanho da imagem */
}

.headerapp {
  text-align: center;
  padding: 20px;
}

.headerapp h1 {
  margin: 10px 0;
  font-family: Arial, sans-serif;
}

.mission, .about, .legal-notice, .christmas-card {
  margin: 20px auto;
  max-width: 800px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.mission h2, .about h2, .legal-notice h2, .christmas-card h2 {
  text-align: left;
  color: #333;
}

.mission p, .about p, .legal-notice p, .christmas-card p {
  text-align: justify;
  color: #000;
}




/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .buttons_voluncenter {
    flex-direction: column; /* Empilhar botões verticalmente */
    align-items: center;
    gap: 10px; /* Reduzir o espaçamento entre botões */
  }

  .volunteer-button-2, .christmas-card-button_new {
    width: 60%; /* Ocupa toda a largura disponível */
    font-size: 16px; /* Reduz o tamanho do texto */
    padding: 8px 10px; /* Ajusta o espaçamento interno */
  }

  .headerapp h1 {
    font-size: 24px; /* Reduz o tamanho do cabeçalho */
  }

  .mission, .about, .legal-notice, .christmas-card {
    margin: 10px auto; /* Reduz margens externas */
    padding: 0 10px; /* Adiciona espaçamento interno lateral */
  }

  .image {
    max-width: 120px; /* Reduz o tamanho da imagem */
  }

}
